/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

.pointer-link {
    cursor: pointer;
}

.home-bg-image{
  background-image: url('assets/images//homepage.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
